## Visual Studio
.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Ob]j/
Log/
Logs/

# Visual Studio Code
.vscode/
.history/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Output folders
[Bb]in/
[Oo]bj/

# Rider
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/
**/node_modules/

# Database backups and training data
*.bak
*.traineddata

# Publish Profiles
**/PublishProfiles/
**/Properties/PublishProfiles/
